@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

@import url(./main-page.scss);
@import url(./login-page.scss);
@import url(./signup-page.scss);
@import url(./loading-indicator.scss);
@import url(./error.scss);
@import url(./page-not-found.scss);

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	line-height: 1.5;
	color: #333;
	// overflow: hidden;
}

.app {
	&,
	&.light-mode {
		--color-bg-primary: #a367b1;
		--color-bg-secondary: #5d3587;
		--color-bg-tertiary: #392467;

		--color-bg-secondary-light: #8562ab;
		--color-bg-secondary-dark: #532f7a;

		--color-text-primary: #333;
		--color-text-secondary: #555;
	}

	&.dark-mode {
		--color-bg-primary: #392467;
		--color-bg-secondary: #5d3587;
		--color-bg-tertiary: #a367b1;

		--color-bg-secondary-light: #532f7a;
		--color-bg-secondary-dark: #8562ab;

		--color-text-primary: #fff;
		--color-text-secondary: #eee;
	}
}

::-webkit-scrollbar {
	width: 1rem;
	background: #5d3587;
}

::-webkit-scrollbar-track {
	background: #5d3587;
}

::-webkit-scrollbar-thumb {
	background: #2f1a45;
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
	background: #8562ab;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 1rem;
}
