@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

@import url(./main-page.scss);

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	line-height: 1.5;
	color: #333;
}

.app {
	&,
	&.light-mode {
		--color-bg-primary: #a367b1;
		--color-bg-secondary: #5d3587;
		--color-bg-tertiary: #392467;

		--color-bg-secondary-light: #8562ab;
		--color-bg-secondary-dark: #532f7a;

		--color-text-primary: #fff;
		--color-text-secondary: #eee;
	}

	&.dark-mode {
		--color-bg-primary: #392467;
		--color-bg-secondary: #5d3587;
		--color-bg-tertiary: #a367b1;

		--color-bg-secondary-light: #532f7a;
		--color-bg-secondary-dark: #8562ab;
	}
}
