.page {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	gap: 10px;

	.page-button {
		width: 30px;
		height: 30px;
		border-radius: 50px;
		border: 5px solid
			var(--color-bg-secondary-dark);
		background-color: transparent;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}
